{% extends 'polls/header.html' %} 

{% block content %}
<link rel="stylesheet" href="../../static/polls/detail.css">

<div class="container-fluid d-flex align-items-center justify-content-center my-5" style="min-height: 70vh;">
    <div class="row justify-content-center w-100 my-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center" style="background-color: black; color: white;">
                    <h3 class="question-title">{{ question.question_text }}</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'polls:vote' question.id %}" method="post">
                        {% csrf_token %}
                        <fieldset class="poll-detail">
                            {% if error_message %}
                                <p class="error-message"><strong>{{ error_message }}</strong></p>
                            {% endif %}
                            <div class="choices-container">
                                {% for choice in question.choice_set.all %}
                                    <div class="choice">
                                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                        <label for="choice{{ forloop.counter }}" class="choice-label">
                                            {{ choice.choice_text }}
                                        </label>
                                        {% if choice.image %}
                                            <div class="choice-image">
                                                <img src="{{ choice.image.url }}" alt="Image for {{ choice.choice_text }}" class="img w-50 h-auto">
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                        <div class="submit-container">
                            <button type="submit" class="vote-btn">Zvoliť</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
